
@{
    ViewData["Title"] = "Register";
    Layout = "~/Areas/Admin/Views/Shared/_AccountLayout.cshtml";
}

<div class="container-fluid h-100 overflow-y">
    <div class="row flex-row h-100">
        <div class="col-12 my-auto">
            <div class="password-form mx-auto">
                <div class="photo-profil">
                    <img src="/assets/signin/img/avatar/marketer.png" alt="...">
                </div>
                <h3>ثبت ‌نام کاربر جدید در سامانه املاک زاگرس</h3>
                <div class="form-row col-md-6">
                    <div class="group material-input">
                        <input type="text" tabindex="0">
                        <span class="bar"></span>
                        <label>شماره موبایل خود را به صورت ( ...09 ) وارد کنید</label>
                    </div>
                    <div class="group material-input">
                        <input type="password" tabindex="1">
                        <span class="bar"></span>
                        <label>رمز عبور خود را انتخاب کنید</label>
                    </div>
                    <div class="group material-input">
                        <input type="password" tabindex="2">
                        <span class="bar"></span>
                        <label>رمز عبور خود را مجدداً وارد کنید</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-left">
                        <div class="styled-checkbox">
                            <input type="checkbox" name="checkbox" id="agree">
                            <label for="agree">کلیه <a href="#">قوانین و مقررات </a> را قبول می کنم.</label>
                        </div>
                    </div>
                </div>
                <div class="button text-center">
                    <button type="button" class="btn btn-shadow btn-primary mb-2">ثبت نام بازاریاب جدید</button>
                    <button type="button" class="btn btn-shadow btn-outline-primary mr-1 mb-2">بازگشت</button>
                </div>
                <div class="register">
                    حساب کاربری دارم !
                </div>
                <br />
                <div class="row">
                    <div class="col text-center">
                        <a href="login.html" style="border-bottom: 1px dashed #A8CCFF; font-weight: 600;"> ورود به پنل کاربری</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Col -->
    </div>
    <!-- End Row -->
</div>

