<div class="slimscroll-menu">

    <!--- Sidemenu -->
    <div id="sidebar-menu">
        <ul class="metismenu" id="side-menu">
            <li class="mm-active">
                <a href="/Admin/Home/Index">
                    @*class="active"*@
                    <i class="icon-home"></i>
                    <span> پیشخوان </span>
                </a>
            </li>

            <li>
                <a href="javascript: void(0);">
                    <i class="icon-plus"></i>
                    <span>ثبت اطلاعات پایه </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="nav-second-level" aria-expanded="false">
                    <li>
                        <a href="/Admin/Apartment/Create"> آپارتمان</a>
                    </li>
                    <li>
                        <a href="/Admin/House/Create"> منزل</a>
                    </li>
                    <li>
                        <a href="/Admin/Shop/Create">مغازه</a>
                    </li>
                    <li>
                        <a href="/Admin/ByeSell/Create">خرید و فروش</a>
                    </li>
                    <li>
                        <a href="/Admin/Customers/Create"> مشتریان</a>
                    </li>
                    <li>
                        <a href="/Admin/Willing/Create"> خواهان</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript: void(0);">
                    <i class="icon-layers"></i>
                    <span> مدیریت اطلاعات </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="nav-second-level" aria-expanded="false">
                    <li>
                        <a href="/Admin/Apartment/Read"> اطلاعات آپارتمان</a>
                    </li>
                    <li>
                        <a href="/Admin/House/Read"> اطلاعات منزل</a>
                    </li>
                    <li>
                        <a href="/Admin/Shop/Read"> اطلاعات مغازه</a>
                    </li>
                    <li>
                        <a href="/Admin/ByeSell/Read">اطلاعات خرید و فروش</a>
                    </li>
                    <li>
                        <a href="/Admin/Customers/Read"> اطلاعات مشتریان</a>
                    </li>
                    <li>
                        <a href="/Admin/Willing/Read"> اطلاعات خواهان</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript: void(0);">
                    <i class="icon-envelope"></i>
                    <span class="menu-arrow"></span>
                    <span> مدیریت پیام ها </span>
                </a>
                <ul class="nav-second-level" aria-expanded="false">
                    <li>
                        <a href="#"> ارسال پیامک</a>
                    </li>
                    <li>
                        <a href="#">ارسال ایمیل</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript: void(0);">
                    <i class="icon-speech"></i>
                    <span> مدیریت اخبار </span>
                </a>
            </li>
            <li>
                <a href="javascript: void(0);">
                    <i class="icon-user-following"></i>
                    <span> مدیریت نقش ها </span>
                </a>
            </li>
            <li>
                <a href="javascript: void(0);">
                    <i class="icon-note"></i>
                    <span> مدیریت نظرات </span>
                </a>
            </li>
            <li>
                <a href="javascript: void(0);">
                    <i class="icon-printer"></i>
                    <span> گزارشات </span>
                </a>
            </li>

            <li>
                <a href="javascript: void(0);">
                    <i class="icon-clock"></i>
                    <span class="menu-arrow"></span>
                    <span> فعالیت های کاربران </span>
                </a>
                <ul class="nav-second-level" aria-expanded="false">
                    <li>
                        <a href="#"> کاربران پایه</a>
                    </li>
                    <li>
                        <a href="#"> کاربران پیشرفته </a>
                    </li>
                    <li>
                        <a href="#"> کلیه کاربران </a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript: void(0);">
                    <i class="icon-people"></i>
                    <span class="badge badge-info float-right">1</span>
                    <span> مدیریت کاربران </span>
                </a>
            </li>

            <li>
                <a href="javascript: void(0);">
                    <i class="icon-location-pin"></i>
                    <span> نقشه ها </span>
                </a>

            </li>

            <li>
                <a href="javascript: void(0);">
                    <i class="icon-pencil"></i>
                    <span> یادداشت ها </span>
                </a>
            </li>

            <li>
                <a href="javascript: void(0);">
                    <i class="icon-screen-desktop"></i>
                    <span> پروفایل من </span>
                </a>
            </li>

            <li>
                <a href="javascript: void(0);">
                    <i class="icon-power"></i>
                    <span> خروج از سیستم </span>
                </a>
            </li>

        </ul>

    </div>
    <!-- End Sidebar -->

    <div class="clearfix"></div>

</div>