<div class="rightbar-title">
    <a href="javascript:void(0);" class="right-bar-toggle float-right">
        <i class="mdi mdi-close"></i>
    </a>
    <h5 class="m-0 text-white">تنظیمات</h5>
</div>
<div class="slimscroll-menu">
    <!-- User box -->
    <div class="user-box">
        <div class="user-img">
            <img src="/images/users/avatar-4.png" alt="user-img" title="Mat Helme" class="rounded-circle img-fluid">
            <a href="javascript:void(0);" class="user-edit"><i class="mdi mdi-pencil"></i></a>
        </div>

        <h5><a href="javascript: void(0);">حامد شریعتی مهر</a> </h5>
        <p class="text-muted mb-0"><small>مدیر سیستم</small></p>
    </div>

    <!-- Settings -->
    <hr class="mt-0" />
    <h5 class="pl-3">تنظیمات پایه</h5>
    <hr class="mb-0" />


    <div class="p-3">
        <div class="checkbox checkbox-primary mb-2">
            <input id="checkbox1" type="checkbox" checked>
            <label for="checkbox1">
                نمایش تابلوی اعلانات
            </label>
        </div>
        <div class="checkbox checkbox-primary mb-2">
            <input id="checkbox2" type="checkbox" checked>
            <label for="checkbox2">
                دسترسی به API
            </label>
        </div>
        <div class="checkbox checkbox-primary mb-2">
            <input id="checkbox3" type="checkbox">
            <label for="checkbox3">
                آپدیت خودکار
            </label>
        </div>
        <div class="checkbox checkbox-primary mb-2">
            <input id="checkbox4" type="checkbox" checked>
            <label for="checkbox4">
                وضعیت آنلاین
            </label>
        </div>
        <div class="checkbox checkbox-primary mb-0">
            <input id="checkbox5" type="checkbox" checked>
            <label for="checkbox5">
                پرداخت خودکار
            </label>
        </div>
    </div>
</div>